<h2>List des taches</h2>

@if (tasks$ | async; as tasks){
    <ul>
        @for (t of tasks;track t.id){
            <li>{{t.title}}</li>
        }
    </ul>
}@else {
    <p> Temps écoulé : {{this.count / 2}} secondes</p>
}

<h3>Actions</h3>
<form (ngSubmit)="addTask(taskInput.value); taskInput.value = ''">
  <input
    #taskInput
    placeholder="Nom de la tâche à ajouter"
  />
  <button type="submit">Ajouter une tâche</button>
</form>


<div #highlightContainer></div>
<div #editContainer></div>

@if (tasks2$|async;as tasks2){
    <ul>
        @for (t of tasks2;track t.id){
            @if (t.completed==false){
                <li>
                    {{t.title}}
                    <button type="button" (click)="highlight(t)">Mettre en avant</button>
                    <button type="button" (click)="supprimerTask(t.id)">supprimer</button>
                    <button type="button" (click)="terminer(t.id)">Terminer</button>
                    <button type="button" (click)="editer(t.id)">editer</button>
                </li>
            }@else{
                <li>
                    <s>{{t.title}} </s>
                    <button type="button" (click)="supprimerTask(t.id)">supprimer</button>
                </li>
            }
        }
    </ul>
}@else {
    <p>Chargement des tâches...</p>
}

